<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/astecadb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">asteca</property>
    <property name="hibernate.connection.password">asteca</property>
    <mapping class="mx.com.asteca.persistencia.entidades.AutorizacionesProgrEst"/>
    <mapping class="mx.com.asteca.persistencia.entidades.MunicipiosId"/>
    <mapping class="mx.com.asteca.persistencia.entidades.RolesModulos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Aulas"/>
    <mapping class="mx.com.asteca.persistencia.entidades.InstitutoContactos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.ProgramaEstudios"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Asentamientos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.CalifCursos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Modulos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Administrativos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Certificados"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Instructores"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Notificaciones"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Alumnos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Referencias"/>
    <mapping class="mx.com.asteca.persistencia.entidades.ProgramaEstMaterias"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Materias"/>
    <mapping class="mx.com.asteca.persistencia.entidades.TiposInstructores"/>
    <mapping class="mx.com.asteca.persistencia.entidades.DocsNecesariosAlumnos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.CapacidadesAlumnos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.AsentamientosId"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Equipos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.TiposLicencia"/>
    <mapping class="mx.com.asteca.persistencia.entidades.NotificacionesEstados"/>
    <mapping class="mx.com.asteca.persistencia.entidades.AlumnosCursos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Personas"/>
    <mapping class="mx.com.asteca.persistencia.entidades.CursosMaterias"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Capacidades"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Estados"/>
    <mapping class="mx.com.asteca.persistencia.entidades.EstudiosAlumno"/>
    <mapping class="mx.com.asteca.persistencia.entidades.InstitutoPuestos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Roles"/>
    <mapping class="mx.com.asteca.persistencia.entidades.NotificacionesTipos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.TiposEstudios"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Familia"/>
    <mapping class="mx.com.asteca.persistencia.entidades.RolesModPermisosSobre"/>
    <mapping class="mx.com.asteca.persistencia.entidades.CatGral"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Domicilios"/>
    <mapping class="mx.com.asteca.persistencia.entidades.TiposCatGral"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Estatus"/>
    <mapping class="mx.com.asteca.persistencia.entidades.TiposClientes"/>
    <mapping class="mx.com.asteca.persistencia.entidades.RolesModPermisosUsr"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Bitacora"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Institutos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.AsistenciaCurso"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Docs"/>
    <mapping class="mx.com.asteca.persistencia.entidades.RolesModUsuarios"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Clientes"/>
    <mapping class="mx.com.asteca.persistencia.entidades.DocsAlumnos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Cursos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Permisos"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Estudios"/>
    <mapping class="mx.com.asteca.persistencia.entidades.Municipios"/>
    <mapping class="test.Instructores"/>
    <mapping class="test.InstructoresDocumentos"/>
    <mapping class="test.InstructoresMaterias"/>
    <mapping class="mx.com.asteca.test.InstructoresDocumentos"/>
    <mapping class="mx.com.asteca.test.Instructores"/>
    <mapping class="mx.com.asteca.test.InstructoresMaterias"/>
    <mapping class="mx.com.asteca.test.Referencias"/>
    <mapping class="mx.com.asteca.test.Domicilios"/>
    <mapping class="mx.com.asteca.test.InstitutoPuestos"/>
    <mapping class="mx.com.asteca.test.Aulas"/>
    <mapping class="mx.com.asteca.test.NotificacionesTipos"/>
    <mapping class="mx.com.asteca.test.DocsNecesariosAlumnos"/>
    <mapping class="mx.com.asteca.test.InstructoresMaterias"/>
    <mapping class="mx.com.asteca.test.Modulos"/>
    <mapping class="mx.com.asteca.test.ConfDescargas"/>
    <mapping class="mx.com.asteca.test.RolesModulos"/>
    <mapping class="mx.com.asteca.test.Familia"/>
    <mapping class="mx.com.asteca.test.Personas"/>
    <mapping class="mx.com.asteca.test.AutorizacionesProgrEst"/>
    <mapping class="mx.com.asteca.test.Certificados"/>
    <mapping class="mx.com.asteca.test.ProgramaEstMaterias"/>
    <mapping class="mx.com.asteca.test.Materias"/>
    <mapping class="mx.com.asteca.test.Asentamientos"/>
    <mapping class="mx.com.asteca.test.ProgramaEstudios"/>
    <mapping class="mx.com.asteca.test.Docs"/>
    <mapping class="mx.com.asteca.test.CalifCursos"/>
    <mapping class="mx.com.asteca.test.Instructores"/>
    <mapping class="mx.com.asteca.test.Paises"/>
    <mapping class="mx.com.asteca.test.RolesModPermisosUsr"/>
    <mapping class="mx.com.asteca.test.Clientes"/>
    <mapping class="mx.com.asteca.test.InstitutoContactos"/>
    <mapping class="mx.com.asteca.test.TiposClientes"/>
    <mapping class="mx.com.asteca.test.Cursos"/>
    <mapping class="mx.com.asteca.test.Bitacora"/>
    <mapping class="mx.com.asteca.test.Estudios"/>
    <mapping class="mx.com.asteca.test.InstructoresDocumentos"/>
    <mapping class="mx.com.asteca.test.TiposEstudios"/>
    <mapping class="mx.com.asteca.test.TiposInstructores"/>
    <mapping class="mx.com.asteca.test.CapacidadesAlumnos"/>
    <mapping class="mx.com.asteca.test.Municipios"/>
    <mapping class="mx.com.asteca.test.CatGral"/>
    <mapping class="mx.com.asteca.test.MateriaRegistro"/>
    <mapping class="mx.com.asteca.test.DocsAlumnos"/>
    <mapping class="mx.com.asteca.test.TiposCatGral"/>
    <mapping class="mx.com.asteca.test.AlumnosCursos"/>
    <mapping class="mx.com.asteca.test.Estados"/>
    <mapping class="mx.com.asteca.test.CursosMaterias"/>
    <mapping class="mx.com.asteca.test.Capacidades"/>
    <mapping class="mx.com.asteca.test.Estatus"/>
    <mapping class="mx.com.asteca.test.EstudiosAlumno"/>
    <mapping class="mx.com.asteca.test.MunicipiosId"/>
    <mapping class="mx.com.asteca.test.Permisos"/>
    <mapping class="mx.com.asteca.test.Administrativos"/>
    <mapping class="mx.com.asteca.test.Equipos"/>
    <mapping class="mx.com.asteca.test.AsentamientosId"/>
    <mapping class="mx.com.asteca.test.Alumnos"/>
    <mapping class="mx.com.asteca.test.TiposLicencia"/>
    <mapping class="mx.com.asteca.test.NotificacionesEstados"/>
    <mapping class="mx.com.asteca.test.RolesModUsuarios"/>
    <mapping class="mx.com.asteca.test.Notificaciones"/>
    <mapping class="mx.com.asteca.test.AsistenciaCurso"/>
    <mapping class="mx.com.asteca.test.Institutos"/>
    <mapping class="mx.com.asteca.test.RolesModPermisosSobre"/>
    <mapping class="mx.com.asteca.test.Roles"/>
  </session-factory>
</hibernate-configuration>
