body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: small;
    background: url("../images/fondo.jpg") repeat;
    margin: 0;
    padding:0;
}

div{
  /*  border: 2px solid #ff0000;*/
}

h1{
    /*text-transform: uppercase;*/
    font-size: 18px;
}

h2{
    text-transform: uppercase;
    color: #1B5A95;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

h3{
    text-transform: uppercase;
    color: #1B5A95;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

fieldset{
    background-color: #ddd;
}

#header{
    text-align: center;
    height: 175px;
    background: url("../images/fondo_cab.png") repeat;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;   
}

#middle{
    display: block;
}

#main{
    margin: auto;
    width: 1018px;
    background-color: #fff;
    padding: 10px;
    -moz-box-shadow: 0 3px 5px 3px #ccc;
    -webkit-box-shadow: 0 3px 5px 3px #ccc;
    box-shadow:  0 3px 5px 3px #ccc;
}

#leftbar{
    float:left;
    width: 180px;
}

#body{
    padding-left: 190px;
}

#rightbar{
    display:none;
}

#footer{
    clear:both;
    height: 50px;
    text-align: center;
}

#logo{
    width: 248px;
    height: 103px;
}

#title{

}

#bodytitle{
    background-image: url("../images/barra_menu_infgral.png");
    background-repeat: no-repeat;
    height: 25px;
    left: 8px;
    top: 0px;
    width: 265px;
    font-size: 18px;
    color: #fff;
    padding-left: 5px;
    margin-left: 185px;
    margin-top: 6px;
}

#menutitle{
    height: 22px;
    width: 150px;
    background: url("../images/avion.png") no-repeat left;
    background-color: #1a5b97;
    padding-top: 3px;
    padding-left: 30px;
    color: #fff;
    font-weight: bold;
}

form.aspirante td{
    text-align: left;
}


/*
TABS
*/
div.tab{
    border-bottom: 3px solid #333;
    height: 28px;
}

ul.tab{
    margin: 0;
    padding: 0;
}

ul.tab li{
    float:left;
    list-style: none;
    padding: 5px;
    border: 1px solid #fff;
    background-color: #1a5b97;
    text-align: center;
    color: #fff;
}

ul.tab li a{
    color:#fff;
    text-decoration: none;
}

ul.tab li.active{
    background-color: #333;
    border: 1px solid #333;
    font-weight: bold;
}

/*
Content
*/
div.content{
    padding: 10px;

}

label{
    font-weight: bold;
    text-align: right !important;
    min-height: 25px;
}

/*
Datatable
*/
.datatable{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #333;
}

.datatable th{
    padding: 5px;
    color: #fff;
}

.datatable td{
    background-color: #ffffff;
    padding: 3px;
}

.datatable .header{
    background-color: #333;
    color: #fff;
}

.datatable .footer{
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: right;
}

.datatable .footer a{
    color: #fff;
}

.datatable .actions{
    width: 50px;
}

.fechaColumna{
    width: 70px;
}

/*
MENU
*/
#menu{
    margin: auto;
    width: 170px;
    border: 1px solid #ccc;
    margin-top: 5px;	
    background-color: #eee;
}

#menu ul{
    padding-left: 10px;
    margin-left: 15px;
}

#menu li{
    margin-bottom: 10px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    padding: 0;
}

#menu li a{
    text-decoration: none;
    color: #737577;
}

ul.buttons{
    height: 20px;
    text-align: right;
}

ul.buttons li{
    float: right;
    margin: 0;
    padding: 0px;
    margin-left: 5px;
    list-style: none;
}

.calendario{
    width:80px;
}

.headerlink{
    color:#fff;
    font-weight: bold;
}

.headerlink a{
    color: #000;
}

#messageFaces{
    width: 830px;
    margin-left: 190px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* RICH FACES CLASS */
.richPanel{
    margin-bottom: 10px;
}

/*Paneles*/
.panelHeader{
 /*   background-image: none !important;
    background-color: rgb(26, 91, 151) !important;
    color: #fff !important;
    font-size: 14px !important;
    text-transform: uppercase !important;*/
}

.autocompletePopup div{
  width: 300px !important;  
}

.autocomplete{

}

#messages{
    margin-left: 180px;
    list-style: circle;
}


